# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

#Environnement variables
backend/.env

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# .json
/backend/_misc/
/backend/parsing/test/output_test.json
