@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

main {
    min-height: 100vh;
}

